#
# WARNING: modifying this file can result in unexpected model behavior,
# crashes, loss of precision and loss of accuracy and crashes.
#

## general configuration
# List of property files loaded at startup. Files can include: UI properties,
# default storage location and behavior, fall-back model parameters (only used
# when no value is provided by the user).
supplementary_property_files : \
    config/local/storage.cfg,\
    config/local/consolas_gray.cfg,\
    config/models/micro_units_01.cfg

default_palette : Colours.xml
